<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movies Recommendation</title>
    <link rel="stylesheet" href="static/style.css">

</head>

<body>
    <header>
        <div class="title">
            <h1 class="m_title">Movies Recommender System</h1>
            <h2 id="demo"></h2>
        </div>
    </header>

    <form action="">
        <div class="">
            <div>
                <input type="text" class="search" id="movie" name="movie" placeholder="Search Movie...">
            </div>
        </div>

        <div class="button_box">
            <button onclick="send_data()">Recommend</button>

        </div>
    </form>

    <br>
    <div id="prediction">

    </div>



    <div id="movie_1">


    </div>


    <div id="rows"></div>
    <div>
        <script src="static/script.js"></script>
    </div>

</body>
